
<!-- Portfolio search form  -->

<div class='search-area container-fluid' ><h1>My Portfolio</h1>
  <h3>Search Stocks</h3>

  <!-- Search form for => stock#search -->
  <%= form_tag search_stock_path,remote: true,method: :get do %>
    <div class="form-group row">
      <div class="col-sm-9 no-right-padding">
        <!-- stock model attribute added params and input field -->
        <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", autofocus: true, class: "form-control form-control-lg" %>
      </div>
      <div class="col-sm-3 no-left-padding">
        <%= button_tag  type: :submit, class: "btn btn-success" do %>
          <%= 'Search' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<!-- result div with results ID which used for AJAX in .js file  -->
<div id="results">
  <%= render 'users/result' %>
</div>

<!-- list tracked stocks of current_user <= users#my_portfolio  -->
<% if !@tracked_stocks.empty? %> 
  <%= render 'shared/list' %>
<% end %>

