<nav class="navbar navbar-expand-md navbar-light bg-dark sticky-top">
        <div class="container-fluid logocontainer">
            
            
            <%# link_to  image_tag("logo.png") root_path,class:"navbar-brand"%>

            <a href="" class="navbar-brand" style="font-size: 16px;">Finance <%= image_tag("logo.png") %> Tracker</a>


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse navlinks" id="navbarResponsive" > 
                <ul class="navbar-nav ml-auto">
                    
                    <% if user_signed_in? %>

                        <li class="nav-item active">
                            <%= link_to "Home",root_path,class:'active',id:'homelink'%>
                        </li>
                        <li class="nav-item active">
                            <%= link_to "About us",root_path%>
                        </li>

                        <li class="nav-item active">
                            <%= link_to "Log-Out",destroy_user_session_path,method: :delete%>
                        </li>
                        
                        <li class="nav-item active">
                            <%= link_to edit_user_registration_path do %>
                                <%= fa_icon 'edit ' %> Edit Profile
                            <% end %>
                        </li>

                        <li class="nav-item <%= 'active' if request.path == my_friends_path %>">
                            <%= link_to 'My Friends', my_friends_path %>
                        </li>

                        <li class='nav-item user-name'>
                            <%= fa_icon 'user' %> <%= current_user.full_name %>
                        </li>

                        
                    <% elsif !user_signed_in? %> 
                        <li class="nav-item active">
                            <%= link_to "Home",root_path,class:'active',id:'homelink'%>
                        </li>

                         <li class="nav-item active">
                            <%= link_to "About us",root_path%>
                        </li>

                        <li class="nav-item active">
                            <%= link_to "Log-in",new_user_session_path%>
                        </li>
                        <li class='nav-item user-name'>
                            <%= fa_icon 'user' %> <%= "Anonymous" %>
                        </li>
                    <% end %>

                </ul>  

                       
            </div>
        </div>
    </nav>