

<!-- Welcome page carousel -->
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("bg.jpg",class:"d-block w-100") %>
      <div class="carousel-caption d-none d-md-block">
        <h5 class="animated bounceInRight" style="animation-delay: 1s;">StockOption</h5>
        <p class="animated bounceInLeft d-none d-md-block" style="animation-delay: 2s;">"We offer user-friendly online portfolio for your stocks"</p>
        <p class="animated bounceInRight " style="animation-delay: 3s;"><a href="#">Learn More</a></p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("bg.jpg",class:"d-block w-100") %>
      <div class="carousel-caption d-none d-md-block">
        
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("bg.jpg",class:"d-block w-100") %>
      <div class="carousel-caption d-none d-md-block">
        
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<!-- Welcome page jumbotron<div class="container-fluid">
	<div class="row jumbotron">
		
		<div class="col-6">
			<p>We are support your trades </p>
		</div>

		<div class="col-6">
			 <%= image_tag("hr.jpg",class:"img-fluid w-100") %>
		</div>

	</div>

</div> -->



<div class="container-fluid text-white" style="background-color: grey; padding: 25px !important;">
		
      <div class="row" style="border: 3px solid black; ">
          <div class="col-lg-6 p-5">
          <h2>If you build it</h2>
          <p>Lorem ipsum, dolor sit amet consectetur, adipisicing elit. Facilis culpa temporibus corporis fuga dolor ad molestiae. Quo, vero alias rem laborum, minus perspiciatis, itaque incidunt enim ex facilis tenetur quod.</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci aliquam, blanditiis quaerat molestias obcaecati neque ipsam consequuntur voluptas. Sed, rem, vitae! Optio facilis architecto ad blanditiis maiores perspiciatis, harum culpa.</p>
          <br>
          <a href="#" class="btn btn-primary mb-3" >Learn More</a>
        </div>
        <div class="col-lg-6">
          <%= image_tag("hr.jpg",class:"img-fluid  p-5") %>
        </div>
      </div>
			
		</div>
		<hr class="my-1">
	</div>
